<header class="bg-light-orange">
  <div class="flex justify-center">
    Piłka Nożna Robotów Mobilnych
  </div>
</header>
<main class="py-10 lg:py-20 px-6">
  <div>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
